body{
    background-color: #8ecae6;
}
.profile-image{
    border-radius: 100%;
    width: 30px;
    margin-left: 20px;
}
.bell-icon{
    transform: scale(1.5);
}
.home{
    transform: scale(1.5);
}
.add-tasks-link{
    transform: scale(1.5);
}
form{
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    align-items: center;
    height: 95vh;
    color: #4A4A4A;
}
.form-field{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.input-fields{
    padding-left: 10%;
    padding-right: 5%;
    border-radius: 5px;
    width: 200px;
    height: 2.5em;
    border: none;
}