body{
    background-color: #8ecae6;
}
.profile-image{
    border-radius: 100%;
    width: 30px;
    margin-left: 20px;
}
.bell-icon{
    transform: scale(1.5);
}
.box{
    background-color: #023047;
    border-radius: 1em;
    margin-top: 10%;
    width: 40%;
}
.box a{
    color: aliceblue;
    border-radius: 1em;
    font-size: 2em;
    height: 50px;
    text-decoration:none;
    text-align: center;
    display: block;
}
.box a:hover{
    background-color: #219ebc;
}
.add-tasks-link{
    margin-right: 1.5em;
    transform: scale(1.5);
}
.navbar{
    background-color: #023047;
}