body{
    background-color: #8ecae6;
}
.profile-image{
    border-radius: 100%;
    width: 30px;
    margin-left: 20px;
}
.bell-icon{
    transform: scale(1.5);
}
.add-employee{
    margin-right: 20px;
    transform: scale(1.5);
}
.employee{
    padding: 2%;
    margin-top: 1%;
    width: 50%;
    background-color: #ffb703;
    text-align: center;
    border-radius: 2em;
}
.box{
    padding: 1%;
    background-color: white;
    margin-top: 0.5em;
    border-radius: 2em;
}
.navbar{
    background-color: #023047;
}
p{
    font-size: 1.25em;
}
