.profile-image{
    border-radius: 100%;
    width: 30px;
    margin-left: 20px;
}
.bell-icon{
    transform: scale(1.5);
}
.add-employee{
    margin-right: 20px;
    transform: scale(1.5);
}
.navigation{
    text-align: center;
    margin-top: 10%;
    width: 40%;
}
.navigation a{

    text-decoration: none;
    height: 50px;
    font-size: 2em;
    display: block;
}
.navigation a:hover{
    background-color: green;
}